.languages {
    text-align: center;
    font-size: 1.3rem;
    padding: 0rem 4rem 2rem 2rem;
}

table {
    width: 100%;
    border-radius: 0.4rem;
    margin: 1rem;
}

table, th, td {
    border: 2px solid black;
}

tr td {
    padding: 0.6rem 0px;
}

tr th {
    padding: 1rem 0px;
    font-weight: bold;
    font-size: 1.4rem;
}