.developer {
    padding: 2rem 4rem 0%;
}

.history h3 {
    font-size: 1.5rem;
    text-align: center;
}

.developer h4 {
    font-size: 1.3rem;
    padding: 0% 0% 0.5rem 1rem;
}

.developer p {
    font-size: 1rem;
    padding: 0% 0% 0.5rem 1rem;

}

.developer ul {
    font-size: 1.2rem;
}

.developer ul li {
    padding: 0.6rem;

}