.developer {
    padding: 2rem 4rem 0%;
}

.history h3 {
    text-align: center;
}

.developer h4 {
    padding-bottom: 0.5rem;
    font-size: 1.3rem;
}

.developer p {
    padding-bottom: 0.5rem;
    font-size: 1rem;
}

.developer ul {
    font-size: 1.2rem;
}

.developer ul li {
    padding: 0.6rem;

}