.trainingCerti {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-size: 1.3rem;
    resize: none;
}

.items img {
    /*height: 25rem;
    width: 23rem;*/
    max-width: 50%;
    height: auto/9;
    border-radius: 0rem;
    cursor: pointer;
    padding-top: 0.8rem;
}


.training {
    border: 3px black solid;
    border-style: dotted;
    margin: 2rem 4rem 0% 4rem;
    padding: 1rem 1rem 0rem 1rem;
    border-radius: 1rem;
}

@media screen and (max-width: 1024px){
    .trainingCerti.training {
        flex-direction: row;
    }
}

.items p {
    padding: 0.4rem 0rem 0rem 0rem;
    font-size: 1.2rem;
}



